<main id="base" class="wrap">
  <section class="container" id="navbar">
    <p>Make your list of things to pack</p>
    <!--Making the list-->
    <form id="form1" (ngSubmit)="onSubmit(this)">
      <p id="totalItems">Total Items: 0</p>
      <input type="text" id="item" name="item" class="txtAddItems" placeholder="Add your item here..." value="" autocomplete="on">
      <input type="number" id="quantity" name="quantity" min="0" style="width:20px;height:16px" value="0">
      <input type="submit" id="addItem" class="b_general" value="Add Item">
      <input type="button" id="b_clearList" class="b_general" value="Clear List">
    </form>
    <section class="wrapper">
      <nav class="nav">
        <ul id="theList">
          <!--empty list-->
        </ul>
        <div id="feedback">
        </div>
      </nav>
    </section>
    <section class="allLists">

    </section>
  </section>
</main>
