<div class="n_menuList">
  <form class="main_title">
    <h2>going for a trip?</h2>
    <h1>Plan It!</h1>
    <a id="b_start" class="startplaning">Start Planning</a>
  </form>
</div>
<div class="n_navbar">
  <div id="startPlan">
    <p>Start Planing</p>
  </div><br>

  <div class="navigateTo">
    <a id="titleSignIn" class="signIn" >Sign In</a>
    <form id="signInForm" class="homepagestyle"><br>
      <p>User Name:</p>
      <input type="text" id="_username" class="txtInput" name="UserName" required>
      <p>Password:</p>
      <input type="password" id="_password" class="txtInput" name="Password" required>
      <button id="b_signIn" type="submit" class="b_general" value="Sign In">Sign In</button>
      <div class="listPic"></div>
    </form>
  </div>
  <div class="navigateTo">
    <a id="titleRegister" class="signIn" >Register</a>
    <form id="registerForm" class="homepagestyle"><br>
      <p>User Name:</p>
      <input type="text" class="txtInput" name="regUserName" required>
      <p>Password:</p>
      <input type="password" class="txtInput" name="regPassword" required>
      <p>Confirm Password:</p>
      <input type="password" class="txtInput" name="confirmPassword" required>
      <p>Email:</p>
      <input type="email" class="txtInput" name="email" required>
      <button id="submit" type="submit" class="b_general" value="Register">Register</button>
    </form>
  </div>
</div>
