<footer id="footer">
  <ul class="icons">
    <li>
      <a href="https://www.linkedin.com/company-beta/18019523/" target="_blank" class="icon circle fa-linkdin">
        <span class="label">Linkdin</span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/mtahack2017" target="_blank" class="icon circle fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/mta.hackathon/" target="_blank" class="icon circle fa-instagram">
        <span class="label">Instagram</span>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; Planit</li>
    <li>Idan Dagan</li>
  </ul>
</footer>
