<section class="mapWrap" id="wrapMain">
  <div class="mapForm" >
    <form  id="formSite">
      <h1 class="t_addSite"><label>Site Name</label></h1><a style="color:red">*</a>
      <input type="text" id="SiteName" class="txtInput" name="sitename" placeholder="Best shopping center" required>
      <h1 class="t_addSite"><label>Address</label></h1><a style="color:red">*</a>
      <input type="text" id="pac-input" class="txtInput" name="siteaddress" placeholder="5 Nordau Avenue" required>
      <label id="lblresult"></label>
      <h1 class="t_addSite"><label>Estimated Costs</label></h1>
      <input type="number" id="cost" class="txtInput" name="sitecost" placeholder="150$">
      <br>
      <button id="b_addSite" type="submit" class="b_general" value="Add to list">Add to list</button>
      <input id="b_getTop" type="button" class="b_general" value=" Get Top 5">
    </form>
    <section class="topFive" id="topFiveBlock">
      <p>Top 5:</p>
      <ul id="topList" class="topFiveList">
      </ul>
    </section>
  </div>
  <div id="theMap">
  </div>
  <section class="mapForm">
    <div id="t_list">
      <h1>List of sites:</h1>
      <ul id="siteList">
      </ul>
    </div>
    <div class="showCost">
      <p id="totalCost">Total Cost = 0 $</p>
    </div>
  </section>
</section>
<div id="wrapAttention">
  <div id="attention">
    <h1>You must enter 'Site Name' and 'Address'!</h1>
  </div>
  <input type="button" id="b_att" class="b_general" value="Got it!" onclick="showMap()">
</div>
